<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MusicMapper">
	<resultMap type="com.example.demo.model.Music" id="music_result">
		<id column="m_id" property="mId" javaType="java.lang.Integer" jdbcType=INTEGER/>
		
		<result column="music_name" property="musicname" javaType="java.lang.Integer" jdbcType=VARCHAR/>
		<result column="singer" property="singer" javaType="java.lang.Integer" jdbcType=VARCHAR/>
	</resultMap>	
	<select id="selectAllMusic" resultMap="music_result">
		select*from music
	</select>
</mapper>